<ul class="flex items-center justify-end">
  <li class="ml-6 hidden lg:block">
    <button class="text-right text-black text-md hover:text-orange transition-all" aria-label="icon-social-twitter">
      <i class="icon-social-twitter"></i>
    </button>
  </li>
  <li class="ml-6 hidden lg:block">
    <button class="text-black text-md hover:text-orange transition-all" aria-label="icon-social-instagram">
      <i class="icon-social-instagram"></i>
    </button>
  </li>
  <li class="ml-6 hidden lg:block">
    <a class="flex flex-wrap items-center hover:bg-primary transition-all bg-yellow text-black ml-4 px-8 py-3 rounded-full uppercase font-acumin text-sm leading-none" href="#">sign up</a>
  </li>
  
  <li class="ml-6 lg:hidden">
    <a href="#offcanvas-mobile-menu" class="offcanvas-toggle text-dark text-md hover:text-orange transition-all"><i class="icon-menu"></i></a>
  </li>
</ul>
