<!-- offcanvas-overlay start -->
<div class="offcanvas-overlay hidden fixed inset-0 bg-black opacity-50 z-50"></div>
<!-- offcanvas-overlay end -->
<!-- offcanvas-mobile-menu start -->
<div id="offcanvas-mobile-menu" class="offcanvas left-auto right-0 z-50 transform translate-x-translate-x-full-120 fixed font-normal text-white top-0 z-50 h-screen w-full transition-all ease-in-out duration-300 bg-[#242E22]">

  <div class="px-8 py-12 h-5/6 overflow-y-auto">

    <!-- close button start -->
    <button class="offcanvas-close group transition-all r-[22px] t-[20px] text-white flex items-center justify-center absolute top-0" aria-label="offcanvas"><i class="icon-close text-6md transition-all transform group-hover:rotate-90"></i></button>
    <!-- close button end -->

    <!-- offcanvas-menu start -->
  
  
    <nav class="offcanvas-menu pb-10 mb-10 border-b border-solid border-gray-600">
      <ul>
        <li class="relative block"><a href="#" class="relative block uppercase font-cumin text-sm mr-[32px] py-1 ">the program</a></li>
        <li class="relative block"><a href="#" class="relative block uppercase font-cumin text-sm mr-[32px] py-1 ">testiminials</a></li>
        <li class="relative block"><a href="#" class="relative block uppercase font-cumin text-sm mr-[32px] py-1 ">faq</a></li>
      </ul>
    </nav>
    <!-- offcanvas-menu end -->

  </div>
</div>
<!-- offcanvas-mobile-menu end -->
