<nav class="main-menu">
  <ul class="flex flex-wrap">
    <li class="main-menu__item relative">
      <a class="block py-10 xl:pr-6 md:pr-5 uppercase font-normal text-sm text-black hover:text-orange transition-all" href="/">The program</a>
    </li>

    <li class="main-menu__item">
      <a class="block py-10 xl:px-6 md:px-5 uppercase font-normal text-sm text-black hover:text-orange transition-all" href="#">Testimonials</a>
    </li>

    <li class="main-menu__item"><a class="block py-10 xl:px-6 md:px-5 uppercase font-normal text-sm text-black hover:text-orange transition-all" href="#">faq</a></li>
  </ul>
</nav>
